@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap&&family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap ");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

@layer components {
  body {
    color: rgb(var(--foreground-rgb));
    @apply m-0;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-corner-gradient {
  background: linear-gradient(0deg, #04c8bb 0%, #5a67d8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* For non-webkit browsers */
}

.navbar {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

@keyframes move-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.line-group line {
  animation: move-up-down 2s infinite;
}
.no-scroll {
  overflow: hidden;
}
.panel-container {
  display: flex;
  width: 300%;
}
