@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap&&family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap ");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

@layer components {
  body {
    color: rgb(var(--foreground-rgb));
    @apply m-0;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-corner-gradient {
  background: linear-gradient(0deg, #04c8bb 0%, #5a67d8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* For non-webkit browsers */
}

.navbar {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

@keyframes move-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.line-group line {
  animation: move-up-down 2s infinite;
}
.no-scroll {
  overflow: hidden;
}
.panel-container {
  display: flex;
  width: 300%;
}


@keyframes buzz {
  0% { transform: translateX(0); }
  10% { transform: translateX(-2px) rotate(-1deg); }
  20% { transform: translateX(2px) rotate(1deg); }
  30% { transform: translateX(-2px) rotate(-1deg); }
  40% { transform: translateX(2px) rotate(1deg); }
  50% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

.buzzing {
  animation: buzz 2s linear infinite;
}


 /* @keyframes ring {
  0% { transform: rotate(0); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(10deg); }
  40% { transform: rotate(-8deg); }
  50% { transform: rotate(6deg); }
  60% { transform: rotate(-4deg); }
  70% { transform: rotate(2deg); }
  80%, 100% { transform: rotate(0); }
}

.ringing {
  display: inline-block;
  animation: ring 2s ease-in-out infinite;
  transform-origin: 50% 0%; 
}

@keyframes glowPulse {
  0%, 100% { box-shadow: 0 0 0 rgba(72, 187, 120, 0.5); }
  50% { box-shadow: 0 0 15px rgba(72, 187, 120, 1); }
}

.glow-ring {
  animation: ring 2s ease-in-out infinite, glowPulse 2s ease-in-out infinite;
}  */
